<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>약관</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div id="wrapper">
        <header>
            <h3>Board System</h3>
        </header>
        <main id="user">
            <section class="terms">
                <h2 class="tit">사이트 이용약관</h2>
                <table border="1">                    
                    <tr>
                        <td>
                            <textarea name="terms">[[${terms[0].terms}]]</textarea>
                            <label><input type="checkbox" class="terms">&nbsp;동의합니다.</label>
                        </td>
                    </tr>
                </table>

                <h2 class="tit">개인정보 취급방침</h2>
                <table border="1">                    
                    <tr>
                        <td>
                            <textarea name="privacy">[[${terms[0].privacy}]]</textarea>
                            <label><input type="checkbox" class="privacy"> 동의합니다.</label>
                        </td>
                    </tr>
                </table>
                
                <div>
                    <a th:href="@{/user/login}" class="btn btnCancel">취소</a>
                    <a th:href="@{/user/register}" class="btn btnNext">다음</a>
                </div>

            </section>
        </main>
        <footer>
            <p>
                <span class="copyright">[[${appInfo.appName}]] </span>
                <span class="version">ver.[[${appInfo.appVersion}]]</span>
            </p>
        </footer>
    </div>    
</body>
</html>